/*
Rakesh D L
*/
@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    font-family: 'Roboto', sans-serif;
}
.main{
  margin: 0 auto;
  padding: 0;
  width:100%;
}
/* grid system */
.row{
  clear: both;
	padding: 0px;
	margin: 1%;
}
.row:before,
.row:after { content:""; display:table; }
.row:after { clear:both;}
.row { zoom:1; /* For IE 6/7 */ }
/* column 2% guttar */
.col-l{
  min-height: 20px;
  border-radius: 3px;
  display: block;
	float:left;
  margin: 0% 0 0% 2%;
}

.col-l:first-child{margin-left: 0px;}
.col-l:last-child{margin-right: 0px;}

.col-l.one{width: 6.5%;}
.col-l.two{width: 15%;}
.col-l.three{width: 23.5%;}
.col-l.four{width: 32%;}
.col-l.five{width: 40.5%;}
.col-l.six{width: 49%;}
.col-l.seven{width: 57.5%;}
.col-l.eight{width: 66%;}
.col-l.nine{width: 74.5%;}
.col-l.ten{width: 83%;}
.col-l.eleven{width: 91.5%;}
.col-l.twelve{width:100%;}

@media (max-width:768px){
  .col-l{
    width:100% !important;
    margin: 5px 0px 5px 0px;
  }
}

/* column 1% guttar */
.col-s{
  min-height: 20px;
  border-radius: 3px;
  display: block;
	float:left;
  margin: 0% 0 0% 1%;
}

.col-s:first-child{margin-left: 0px;}
.col-s:last-child{margin-right: 0px;}

.col-s.one{width: 7.416%;}
.col-s.two{width: 15.83%;}
.col-s.three{width: 24.25%;}
.col-s.four{width: 32.66%;}
.col-s.five{width: 41.08%;}
.col-s.six{width: 49.5%;}
.col-s.seven{width: 57.91%;}
.col-s.eight{width: 66.33%;}
.col-s.nine{width: 74.75%;}
.col-s.ten{width: 83.16%;}
.col-s.eleven{width: 91.58%;}
.col-s.twelve{width:100%;}

@media (max-width:768px){
  .col-s{
    width:100% !important;
    margin: 5px 0px 5px 0px;
  }
}

/* ----- Colors ----- */
/* red */
.red{
  background:#F44336 !important;
}
.red-text{
  color:#F44336 !important;
}
/* Pink */
.pink{
  background:#E91E63 !important;
}
.pink-text{
  color:#E91E63 !important;
}
/* Purple */
.purple{
  background:#9C27B0 !important;
}
.purple-text{
  color:#9C27B0 !important;
}
/* Deep Purple */
.deep-purple{
  background:#673AB7 !important;
}
.deep-purple-text{
  color:#673AB7 !important;
}
/* Indigo */
.indigo{
  background:#3F51B5 !important;
}
.indigo-text{
  color:#3F51B5 !important;
}
/* Blue */
.blue{
  background:#2196F3 !important;
}
.blue-text{
  color:#2196F3 !important;
}
/* Light Blue */
.light-blue{
  background:#03A9F4 !important;
}
.light-blue-text{
  color:#03A9F4 !important;
}
/* Cyan */
.cyan{
  background:#00BCD4 !important;
}
.cyan-text{
  color:#00BCD4 !important;
}
/* Teal */
.teal{
  background:#009688 !important;
}
.teal-text{
  color:#009688 !important;
}
/* Green */
.green{
  background:#4CAF50 !important;
}
.green-text{
  color:#4CAF50 !important;
}
/* Light Green */
.light-green{
  background:#8BC34A !important;
}
.light-green-text{
  color:#8BC34A !important;
}
/* Lime */
.lime{
  background:#CDDC39 !important;
}
.lime-text{
  color:#CDDC39 !important;
}
/* Yellow */
.yellow{
  background:#FFEB3B !important;
}
.yellow-text{
  color:#FFEB3B !important;
}
/* Amber */
.amber{
  background:#FFC107 !important;
}
.amber-text{
  color:#FFC107 !important;
}
/* Orange */
.orange{
  background:#FF9800 !important;
}
.orange-text{
  color:#FF9800 !important;
}
/* Deep Orange */
.deep-orange{
  background:#FF5722 !important;
}
.deep-orange-text{
  color:#FF5722 !important;
}
/* Brown */
.brown{
  background:#795548 !important;
}
.brown-text{
  color:#795548 !important;
}
/* Gray */
.gray{
  background:#9E9E9E !important;
}
.gray-text{
  color:#9E9E9E !important;
}
/* Gray */
.light-gray{
  background:#EEEEEE !important;
}
.light-gray-text{
  color:#EEEEEE !important;
}
/* Blue Gray */
.blue-gray{
  background:#607D8B !important;
}
.blue-gray-text{
  color:#607D8B !important;
}
/* Black */
.black{
  background:#303030 !important;
}
.black-text{
  color:#303030 !important;
}
/* White */
.white{
  background:#FFFFFF !important;
}
.white-text{
  color:#FFFFFF !important;
}
/* -------- Button --------- */
.btn{
    border:0;
    border-radius: 3px;
    outline:none;
    box-shadow:0px 1px 3px 0px rgba(0,0,0,0.12), 0px 1px 3px 0px rgba(0,0,0,0.24);
    transition:all 0.3s ease-in-out;
}
.btn:focus, .btn:hover{
	box-shadow:0px 3px 6px 0px rgba(0,0,0,0.15), 0px 3px 6px 0px rgba(0,0,0,0.22);
}
.btn.btn-small{
  padding:5px;
}
.btn.btn-medium{
  padding:7.5px;
}
.btn.btn-large{
  padding:10px;
}

/* -------- ripple Effect --------- */
/* Material Ripple effect */
.ripple {
	position: relative;
	overflow: hidden;
	cursor: pointer;
	user-select: none;
}

.ripple > span {
  /* static positioned elements appear behind absolutely positioned siblings (.material-ink in this case)
  so we will make the elements relatively positioned to bring them above .material-ink */
  position: relative;
  display: block;
  padding: 15px 25px;
}
.white-ripple > .material-ink {
  background-color: #FFFFFF;
  z-index:1;
}
.black-ripple > .material-ink {
  background-color: #303030;
}
.red-ripple > .material-ink {
  background-color: #F44336;
}
.pink-ripple > .material-ink {
  background-color: #E91E63;
}
.purple-ripple > .material-ink {
  background-color: #9C27B0;
}
.indigo-ripple > .material-ink {
  background-color: #3F51B5;
}
.blue-ripple > .material-ink {
  background-color: #2196F3;
}
.teal-ripple > .material-ink {
  background-color: #009688;
}
.green-ripple > .material-ink {
  background-color: #4CAF50;
}
.yellow-ripple > .material-ink {
  background-color: #FFEB3B;
}
.orange-ripple > .material-ink {
  background-color: #FF5722;
}
.brow-ripple > .material-ink {
  background-color: #795548;
}

/*
.ink styles - the elements which will create the ripple effect.
*/
.material-ink {
	position: absolute;
	background: #bdc3c7;
	border-radius: 50%;
	transform: scale(0);
	opacity: 0.4;
}

/* animation effect */
.material-ink.animate {
	animation: ripple 0.6s linear;
}

@keyframes ripple {
	100% {
		transform: scale(2.5);
		opacity: 0;
	}
}
